
@{
    ViewBag.Title = "About Us";
}
<div id="about">
    <h2 id="aboutwords">@ViewBag.Title.</h2>
    <h3 id="aboutwords">This is Australia Strawberry News Agency!</h3>
    <p id="VIP2">
        The Strawberry News Agency is located in Melbourne Australia. We are a young media and news company and we will aim for closer relations with readers, without whom there would be no journalism.
        This web is under construction, our team welcomes your suggestions!
    </p>

    <br /><br />
    <h3 id="aboutwords">Our History</h3>
    <p id="VIP2">
        Established in September 2016, Australia Strawberry News Agency was a collective work unit with 10 staff members.
        This year it made a profit of 1 million dollars.
    </p>

    <br /><br />
    <h3 id="aboutwords">Frequently Asked Questions</h3>
    <p id="VIP2">
        Welcome your suggestions!<br />
        Please email us: jren0002@student.monash.edu
    </p>
</div>